.detalle {
  padding: var(--espaciado-md);
  background-color: var(--color-fondo);
  border-radius: var(--borde-radio);
  box-shadow: var(--sombra-suave);
  display: flex;
  flex-wrap: wrap;
  gap: var(--espaciado-md);
  font-family: var(--fuente-principal);
  flex-grow: 1;
  min-height: 80vh;
  align-items: flex-start;
}

.detalle img {
  max-width: 300px;
  border-radius: var(--borde-radio);
  flex-shrink: 0;
}

.detalle-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--color-texto);
  align-items: flex-start;
}

.detalle-info h2 {
  margin-top: 0;
  color: var(--color-principal);
  font-size: 1.8rem;
}

.detalle-info p {
  margin: 0.5rem 0;
}

.detalle-info .precio {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-premium);
}

.detalle-info .botones {
  margin-top: var(--espaciado-sm);
  display: flex;
  gap: var(--espaciado-xs);
}

.detalle-info button,
.detalle-info .btn-volver {
  text-decoration: none;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: var(--borde-radio);
  cursor: pointer;
  font-family: var(--fuente-principal);
  color: var(--color-blanco);
  transition: background-color 0.2s ease, transform 0.2s ease;
  background-color: var(--color-acento);
}

.detalle-info button.agregar {
  background-color: var(--color-acento);
}

.detalle-info button:hover,
.detalle-info .btn-volver:hover {
  background-color: var(--color-premium);
  transform: scale(1.05);
}
.confirmacion {
  margin-top: var(--espaciado-xs);
  color: var(--color-acento);
  font-weight: bold;
  font-family: var(--fuente-principal);
}
